

* {
  box-sizing: border-box;
}

// html {
//   scroll-behavior: smooth;
// }

body {
  font-family: sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

@media(max-width: 1190px) {
[isNavListOpen="false"] {
  display: none;
}
[isNavListOpen="true"] {
  display: flex;
}
}

.br__nav-overlay {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  overflow: hidden;
  width: 100%;
}


p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  position: relative;
}

input {
  border: 0;
  position: relative;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
  background: transparent;
  box-shadow: none;
  outline: none;
  border: none;
  position: relative;
}

a {
  text-decoration: none;
}

div, section, nav, footer, header, a, form {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: start;
  justify-content: start;
}

form {
  margin-bottom: 0;
}

  img {
    object-fit: cover;
    position: relative;
  }

  .f-w {
    flex-wrap: wrap;
  }

  

  .pos-a {
    position: absolute;
  }
  .pos-a-c {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .fd-r {
    flex-direction: row;
  }

  .fw-w {
    flex-wrap: wrap;
  }

  .ps-a{position: absolute}
  .ps-a-c { left: 50%; transform: translateX(-50%)}
  .ps-a-vc { top: 50%; transform: translateY(-50%)}
  .w-st { width: 100% !important}
  .h-st {height: 100% !important}
  .bs-s {border-style: solid}
  .w-fill {width: 100% !important}
  .sh-0 {flex-shrink: 0}
  
  
  @media (max-width: 1190px) {

    .t_fd-r {
      flex-direction: row;
    }
    .t_fd-c {
      flex-direction: column;
    }
    .t_fw-w {
      flex-wrap: wrap;
    }
    
    .t_fd-cr {
      flex-direction: column-reverse;
    }
    .t_fd-rr {
      flex-direction: row-reverse;
    }
    .t_w-fill {
      width: 100% !important;
    }
    .t_sh-0 {flex-shrink: 0}
    .gr-2-1 { display: grid; grid-template-columns: repeat(2, 1fr)}
    
  }
  
  
  @media (max-width: 720px) {
    .m_fd-r {
      flex-direction: row;
    }
    .m_fd-c {
      flex-direction: column;
    }
    .m_fw-w {
      flex-wrap: wrap;
    }

    .m_fd-cr {
      flex-direction: column-reverse;
    }
    .m_fd-rr {
      flex-direction: row-reverse;
    }
    .m_w-fill {
      width: 100% !important;
    }
    .m_sh-0 {flex-shrink: 0}
    .gr-2-1 {grid-template-columns: repeat(1, 1fr)}
  }

  .g_w-fl {
    width: 100%;
  }

  .g_h-fl {
    height: 100%;
  }

  .g_w-fill {
    width: 100% !important;
  }
  
  @media (min-width: 1191px) {
    .w-fl {
      width: 100%;
    }

    .f-1 {
      flex: 1 0 0;
    }
    
    .h-fl {
      height: 100%;
    }

    .as-s {
      align-self: stretch;
    }
  }
  @media (min-width: 721px) and (max-width: 1190px) {
    .t_w-fl {
      width: 100%;
    }
    .t_f-1 {
      flex: 1 0 0;
    }
    
    .t_h-fl {
      height: 100%;
    }

    .t_as-s {
      align-self: stretch;
    }
  }
  @media (max-width: 720px) {
    .m_w-fl {
      width: 100%;
    }
    .m_f-1 {
      flex: 1 0 0;
    }
    
    .m_h-fl {
      height: 100%;
    }

    .m_as-s {
      align-self: stretch;
    }
  }
  
  .p { 
    font-family: Figtree;
    font-size: calc(16px + (18px - 16px) * var(--m1));;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 150%;
    }
  .p-bold { 
    font-family: Figtree;
    font-size: calc(16px + (18px - 16px) * var(--m1));;
    font-weight: 700;
    letter-spacing: 0em;
    line-height: 150%;
    }
  .p-large { 
    font-family: Figtree;
    font-size: calc(16px + (20px - 16px) * var(--m1));;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 150%;
    }
  .h1 { 
    font-family: Figtree;
    font-size: calc(16px + (57px - 16px) * var(--m1));;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 120%;
    }
  .h2 { 
    font-family: Figtree;
    font-size: calc(16px + (45px - 16px) * var(--m1));;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 120%;
    }
  .h3 { 
    font-family: Figtree;
    font-size: calc(16px + (37px - 16px) * var(--m1));;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 120%;
    }
  .h4 { 
    font-family: Figtree;
    font-size: calc(16px + (31px - 16px) * var(--m1));;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 120%;
    }
  .h5 { 
    font-family: Figtree;
    font-size: calc(16px + (26px - 16px) * var(--m1));;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 120%;
    }
  .h6 { 
    font-family: Arial;
    font-size: calc(16px + (22px - 16px) * var(--m1));;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 120%;
    }
  .subtitle { 
    font-family: Figtree;
    font-size: calc(16px + (16px - 16px) * var(--m1));;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 150%;
    }
  .input { 
    font-family: Figtree;
    font-size: calc(16px + (18px - 16px) * var(--m1));;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 140%;
    }
  .label { 
    font-family: Figtree;
    font-size: calc(16px + (16px - 16px) * var(--m1));;
    font-weight: 700;
    letter-spacing: 0em;
    line-height: 150%;
    }
  .button { 
    font-family: Figtree;
    font-size: calc(16px + (18px - 16px) * var(--m1));;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 140%;
    }
  .navlink { 
    font-family: Figtree;
    font-size: calc(16px + (18px - 16px) * var(--m1));;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 140%;
    }
  @media (max-width: 1190px) {
}
@media (max-width: 720px) {
}

  :root {
    --m0: 1;
    --m1: 1;
    --m2: 1;
    --m3: 1;
    --m4: 1;
    --m5: 1;
    }
@media(max-width: 1190px) {
:root {
 --m1: 0.75; --m2: 0.8; -m3: 0.9; --m4: 0.7; ; --m5: 0.65;
}
}@media(max-width: 720px) {
:root {
 --m1: 0.5; --m2: 0.6; --m3: 0.8; --m4: 0.4; --m5: 0.3
}
}@media(max-width: 1190px) {
}
@media(max-width: 720px) {
}
